# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf



bin
lib
build
*.bin*

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

.idea

cmake-build-debug

result.txt

psort.c

result

.cache


# files generated after make

src/bootblock
src/bootblock.asm

src/entryother
src/entryother.asm

src/initcode
src/initcode.asm

src/kernel
src/kernel.asm
src/kernel.sym

src/vectors.S

src/xv6.img

src/_*

src/cat.asm
src/cat.sym

src/echo.asm
src/echo.sym

src/forktest.asm

src/fs.img

src/grep.asm
src/grep.sym

src/init.asm
src/init.sym

src/kill.asm
src/kill.sym

src/ln.asm
src/ln.sym

src/ls.asm
src/ls.sym

src/mkdir.asm
src/mkdir.sym

src/rm.asm
src/rm.sym

src/sh.asm
src/sh.sym

src/stressfs.asm
src/stressfs.sym

src/usertests.asm
src/usertests.sym


src/wc.asm
src/wc.sym

src/zombie.asm
src/zombie.sym

src/mkfs

src/.gdbinit